<!DOCTYPE html>
<html lang="en">

<body style="font-family: monospace; font-size: 15px">
    <h2 style="text-align: center">Health Care</h2>
    <div style="padding:25px; border: 1px solid black">
        <p>
            You're nearly there, just enter the following code to change your email
            <p style="font-weight: bold; text-align: center; font-size: 16px; line-height: 2">
                {{ code }}
            </p>
            <p style="font-style: italic; text-align: center; font-size: 14px; line-height: 2">
                code expires at {{ expire_time }}
            </p>
            If the code does not work, please request a new verification code.
            <br><br> If you don't know what this is about, then someone has probably entered your email address by mistake. Sorry about that, ignore the email.
            <br><br> Best regards,
            <br> HealthCare HR.
    </div>
</body>

