<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
            font-family: monospace;
            background-color: #282828;
            color: #f2f2f2;
            border-radius: 10px;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body style="font-family: monospace; font-size: 15px">
    <h2 style="text-align: center">Health Care</h2>
    <div style="padding:25px; border: 1px solid black">
        You're nearly there, click the button below to reset your Password
    <div style="text-align: center; padding: 25px">
        <a href={{ redirect_url }}/{{ code }}>
            <button class="button">
                Password reset
            </button>
        </a>
        <p style="font-style: italic; text-align: center; font-size: 14px; line-height: 2">
        link expires at {{ expire_time }}
        </p>
    </div>    
        if the link does not work, please return to the app and repeat forgot password process.
        <br><br> HealthCare HR.
    </div>
</body>


