<!DOCTYPE html>
<html lang="en">

<body style="font-family: monospace; font-size: 15px">
    <h1 style="text-align: center">Health Care</h1>
    <div style="padding:25px; border: 1px solid black">
        Hi {{ user_name }},
        <br><br> Welcome to the hospital team, please don't hesitate to reach out to me if you have any questions about your email account or other technical support needs.
        <p style="font-weight: bold; text-align: center; font-size: 16px; line-height: 2">
            Email: {{ user_email }}
            <br> Password: {{ user_password }}
        </p>
        Best regards,
        <br> HealthCare HR.
    </div>
</body>

